<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="/css/default.css">
        <link rel="icon" href="/favicon.ico"/>
        <title>浴室予約システム</title>
    </head>
    <body>
        <h1>浴室予約システム</h1>
        <nav id=navbar>
            <ul id=navbar style="padding: 0%;">
                <li><a href="/reserve">予約画面</a></li>
                {% if lottery_date[0] == lottery_date[1] %}
                    <li><a href="/lottery_game">抽選</a></li>
                {% endif %}
                <li><a href="/chpass">パスワード変更</a></li>
                <li><a href="/logout">ログアウト</a></li>
            </ul>
        </nav>
        <p>{{userid}}さん，以下の時間に浴室を予約しました．</p>
        <p>{{desired_time}}</p>
        <a href="/">ログイン画面に戻る</a>
    </body>
</html>
